// ── Workspaces ───────────────────────────────────────────────────────────

workspace "primary" {
    open-on-output "DP-3"
}
workspace "chat" {
    open-on-output "DP-3"
}
workspace "gaming" {
    open-on-output "DP-3"
}
workspace "playing" {
    open-on-output "DP-3"
}
workspace "secondary" {
    open-on-output "HDMI-A-1"
}



// ── Workspace window rules ────────────────────────────────────────────────────
///////PRIMARY MONITOR////////
window-rule {
    match app-id=r#"^waterfox$"#
    match app-id="librewolf"
    exclude title=r#"^(Save Image|Save As|Save File|Open File|Library|Downloads|Opening|.png)$"#

    open-on-workspace "primary"
}


//////SECONDARY MONITOR///////
window-rule {
    match app-id="brave-browser"
    match app-id="helium"
    match app-id="helium-browser"

    open-on-workspace "secondary"
}

////////CHAT WORKSPACE////////
window-rule {
    match app-id="org.telegram.desktop"
    match app-id=r#"^signal-desktop$"#
    match app-id="Signal"
    match app-id="signal"
    match app-id="discord"
    match app-id="vesktop"
    open-on-workspace "chat"
}


///////GAMING WORKSPACE///////
// Open Steam Games on the Gaming Workspace
window-rule {
    match app-id=r#"^steam$"#
    match app-id=r#"^steam_app_\d+$"#
    match app-id="steam"
    match app-id="twintaillauncher"
    match app-id="heroic"
    match app-id="electron"
    match app-id="mpv"

    open-on-workspace "gaming" //Opens to Gaming Workspace
}

//////FLOATING RULES///////
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"waterfox$"# title="^Picture-in-Picture$"
    match app-id=r#"helium$"# title="^Picture-in-Picture$"
    match app-id=r#"brave-browser$"# title="^Picture-in-Picture$"
    //Steam Friends & Chat
    match app-id="steam"
    exclude title=r#"^[Ss]team$"#

    open-floating true
}


// ── Games ───────────────────────────────────────────────────────────────
//Notifications to bottom Right
window-rule {
   match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
   default-floating-position x=10 y=10 relative-to="bottom-right"
   open-focused false
}



// Open specific apps fullscreen. Add/remove app-ids as you like.
// Steam games fullscreen example — usually games fullscreen themselves,
// but this forces it at open time if they don't.
window-rule {
    match app-id=r#"^steam_proton"#	    // Twintail Launcher Games
    match app-id=r#"^steam_app_default"#    // Heroic Games - Games
    match app-id=r#"^steam_app_1245620$"#   // Elden Ring
    match app-id=r#"^steam_app_2622380$"#   // Elden Ring Nightreign
    match app-id=r#"^steam_app_3513350$"#   // Wuthering Waves 
    match app-id=r#"^steam_app_3557620$"#   // Blue Archive
    match app-id=r#"^steam_app_881020$"#   // Granblue Fantasy Re:Link
    match app-id=r#"^blender$"#
    // match app-id=r#"^"# // Game

    //Exclude Launchers
    exclude title=r#"(?i)(launcher|updater)"#

    //Open Fullscreen
    open-fullscreen true
    open-on-workspace "playing"
}

//Steam Friends List
window-rule {
    match app-id="^steam$"
    match title="^Friends List$"
    
    open-fullscreen false
    open-on-workspace "gaming"
   //open-focused false
   
    open-floating false
    default-column-width { fixed 346; }
}

// #Heroic Games Launcher
window-rule {
    match app-id=r#"^gamescope$"#
    open-on-workspace "gaming"
    exclude title=r#"(?i)(launcher|updater)"#

    open-fullscreen true
}

