//─────────────────── Startup ───────────────────────────────────────────────────────────────────
// Shell settings daemon — provides icon theme and GTK settings to apps
spawn-at-startup "xsettingsd"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

// Noctalia shell
//spawn-sh-at-startup "qs -c noctalia-shell -d"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"

//─────────────────── Preferences ───────────────────────────────────────────────────────────────
config-notification {
    disable-failed
}

gestures {
    hot-corners {
        off
    }
}
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
overview {
    workspace-shadow {
        off
    }
}

environment {
  XDG_CURRENT_DESKTOP "niri"
}
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"



